extends layout

block content
  h1= title
  p Hello World! Welcome to #{title}
  p Im learning a lot
  audio(id="audio" src="fathersandsons.mp3")
  script.
     var nametest = "Jordan";
     function play(){
         var audio = document.getElementById('audio');
         console.log(audio);
         audio.play();
     }
	 
  button(type="button", value="music1", onclick = "console.log(nametest)") Sustained music: cheery progress or ongoing activity
  br
  button(type="button", value="music1", onclick = "play()") Sustained music: eerie investigation
  br
  button(type="button", value="music1") Music for sudden danger
  br
  button(type="button", value="music1") Music for emotional payoff
  br
  br
   
  p Session Notes
  input(type="text",name="sessionnotes",label="Session Notes1")
  br
  input(type="text",name="sessionnotes",label="Session Notes2")
  br
  br
  button(type="button", value="music1") Stop current music